---
title: about us 
page-id: home
current-nav-item: AboutUs

_options:
  layout: app/layouts/main.static.hbs
---
<article>
  <header>
    <h1>this is about us  page</h1>
  </header>
  <section>
    <p><a href="https://github.com/kgcreative/brunch-with-cocktails">Brunch with Cocktails</a> is blank slate template and scaffold that contains minimal styling to allow you to quickly build your own projects. It's minimally scaffolded with some sensible defaults, and differs from bootstrap in that it doesn't attempt to solve for every possible use case. Instead it leverages mixins to allow you to output minimal CSS to achieve your specific project needs, while staying light, extensible and robust.</p>
  </section>
</article>