---
title: about us 
page-id: home
current-nav-item: AboutUs

_options:
  layout: app/layouts/main.static.hbs
---
<article>
  <header>
    <h1>this is about us  page</h1>
  </header>
  <section>
    <p><a href="/">首页</a></p>
  </section>
</article>